* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cancelBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    font-size: 30px;
    box-sizing: border-box;
    width: 95%;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
}

#calculator {
    border: none;
    box-shadow: 2px 2px 5px rgb(87, 85, 83);
    padding: 20px 10px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 400px;
}

.heading {
    display: flex;
    gap: 20px;
}
#modes {
    font-size: 15px;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 18px;
    border: none;
    background-color: rgb(244, 235, 235);
    ;
}

.btns {
    box-shadow: 2px 2px 5px rgb(206, 198, 198);
    height: 60px;
    background-color: rgb(244, 235, 235);
    width: 60px;
    font-size: 25px;
    font-weight: bolder;
    /* border-radius: 50%; */
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.opr {
    background-color: yellowgreen;
    box-shadow: 5px 5px 10px rgb(96, 123, 44);
    color: white;
}

#display {
    box-shadow: inset 2px 2px 2px rgb(206, 198, 198);
    background-color: rgb(244, 235, 235);
    padding: 15px 20px;
    font-size: 30px;
    box-sizing: border-box;
    width: 95%;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;

}

#display input {
    width: 80%;
    height: 40px;
    border-radius: 20px;
}

#keys {
    width: 90%;
    gap: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}